* {
    margin: 0;
    padding: 0;

}

#container {
    width: 30%;
    height: 50%;
    margin: 0 auto;
    position: relative;

}

h1 {
    color: #132235;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    letter-spacing: .1rem;
    width: 100%;
    text-align: center;
    padding: 5% 0;
    
}

h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 3%;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    
}
p {
    margin-bottom: 2%;
    font-size: 1.2rem;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-input-placeholder {
    color:grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

input {
    outline: none;
    padding-left: 1%;
}

input:not([type="checkbox"]) {
    width: 100%;
    height: 1.3rem;
    font-size: .9rem;
    border: 1px solid #132235;
    -webkit-border-radius: 3%;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

input[type="submit"] {
    width: 100%;
    font-size: 1.2rem;
    height: auto;
    background-color: #6DDAD3;
    border-radius: 5px;
}

input[type="submit"]:hover{
    background: #132235;
    color: white;
    cursor: pointer;
}

.link {
    position: absolute;
    width: 100%;
    text-align: right;
    font-size: 1rem;
    height: 20%;   
    margin-top: 5%;
    border-top: 1px solid rgb(139, 172, 172);
    padding-top: 3%;
}

.link a {
    font-weight: 600;
    color: #132235;
    background-color: #6DDAD3;
    padding: 1%;
    border: 1px solid #132235;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.link a:hover {
    background-color: #132235;
    color: #ffffff;
}