* {
  margin: 0;
  padding: 0;
}

/* ------- HEADER ------- */

header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: .1rem;
    background-color: #132235;
    color: #ffffff;  
    width: 100vw;
    display: flex;
    max-height: 20vh;
    justify-content: space-around;
    align-items: center;   
    
}

.logo {
    max-height: 15vh;
}

header ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#botao-menu {
    color: #ffffff;
    text-decoration: none;
    font-size: medium;
}

#botao-menu:hover {
  color: #6ddad3;
}

#botao-menu:visited {
  text-decoration: none;
}

.botao-login {
    width: 8vw;
    min-height: 4vh;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #132235;
    color: #ffffff ;
    border: #6DDAD3 solid 2px;    
}

.botao-login:hover {
    background-color: #6DDAD3;
    color: #132235;
    cursor: pointer;
    font-weight: 600;
}

/* ------ SEÇÃO INÍCIO ------ */

#inicio {
    display: flex;   
    justify-content: space-between; 
    background-color: #132235;
}

#inicio h1 {
    color: #6DDAD3;
    padding-bottom: 5%;
    font-size: 2.3rem;
    padding-bottom: 10%;
    text-align: center;
    
}

.texto-inicio {
    width: 1fr;
    align-self: center;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    padding: 5%;
    text-align: center;
}


.imagem-inicial {
    max-height: 60vh;
    width: 60%;
    max-width: 100vw;
}


/* ------- Section Vantagens ------- */


.section-title {
  height: 10vh;
  width: 100%;
  color: white;
  justify-content: center;
  display: flex;
  font-size: xx-large;
  padding: 20px;
  background-color: #132235;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-container {
  background-color: #132235;
  height: 35vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
}

.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin-left: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-container .container-cards .icon {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.main-container .container-cards img {
  width: 100%;
}

.main-container .container-cards h3 {
  padding: 10px;
}

.main-container .container-cards span {
  max-width: 240px;
}

/* ------- Section Nossos apartamentos ------- */

.card-apartamento > img {
  height: 64px;
  width: 64px;
}
