* {
  margin: 0;
  padding: 0;
}

/* ------- HEADER ------- */

header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.1rem;
  background-color: #132235;
  color: #ffffff;
  width: 100vw;
  display: flex;
  max-height: 20vh;
  justify-content: space-around;
  align-items: center;
}

.logo {
  max-height: 15vh;
}

header ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#botao-menu {
  color: #ffffff;
  text-decoration: none;
  font-size: medium;
}

#botao-menu:hover {
  color: #6ddad3;
}

#botao-menu:visited {
  text-decoration: none;
}

.botao-login {
  width: 8vw;
  min-height: 4vh;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #132235;
  color: #ffffff;
  border: #6ddad3 solid 2px;
}

.botao-login:hover {
  background-color: #6ddad3;
  color: #132235;
  cursor: pointer;
  font-weight: 600;
}

/* ------ SEÇÃO INÍCIO ------ */

#inicio {
  display: flex;
  justify-content: space-between;
  background-color: #132235;
}

#inicio h1 {
  color: #6ddad3;
  padding-bottom: 5%;
  font-size: 2.3rem;
  padding-bottom: 10%;
  text-align: center;
}

.texto-inicio {
  width: 1fr;
  align-self: center;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  padding: 5%;
  text-align: center;
}

.imagem-inicial {
  max-height: 60vh;
  width: 60%;
  max-width: 100vw;
}

/* ------- Section Vantagens ------- */

.section-title-benefits {
  display: flex;
  height: 100px;
  width: 100%;
  color: #132235;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
}

.main-container-benefits {
  background-color: white;
  height: 2fr;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
}

.container-cards-benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #132235;
  margin-left: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-container-benefits .container-cards-benefits .icon {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.main-container-benefits .container-cards-benefits img {
  width: 100%;
}

.main-container-benefits .container-cards-benefits h3 {
  padding: 10px;
}

.main-container-benefits .container-cards-benefits span {
  max-width: 240px;
}

/* ------- Section Nossos apartamentos ------- */

.section-title-apartments {
  height: 100px;
  width: 100%;
  background-color: #132235;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
}

.title-description-apartments {
  display: flex;
  background-color: #132235;
  color: #6ddad3;
  font-weight: 900;
  padding: 10px;
}

.title-description-apartments p {
  width: 50%;
  height: 50%;
  text-align: center;
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px;
}

.main-container-apartments {
  display: flex;
  background-color: #132235;
  width: 100%;
  height: 60vh;
}

.container-cards-apartments-shared {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.container-cards-apartments-solo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.card-solo {
  display: flex;
  flex-direction: column;
  background-color: #f6f9ff;
  width: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid #132235;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.card-solo img {
  width: 100%;
  height: 50%;
}

.card-solo span {
  padding: 5px;
}

.available {
  color: green;
  font-weight: 700;
  text-align: center;
}

.available-soon {
  color: purple;
  font-weight: 700;
  text-align: center;
}

.booking {
  width: 8vw;
  min-height: 4vh;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #132235;
  color: #ffffff;
  margin: 10px;
}

.booking:hover {
  background-color: #6ddad3;
  color: #132235;
  cursor: pointer;
  font-weight: 600;
}

.title-cards {
  font-weight: 700;
}
